useDynLib(btutils)

importFrom(R6,R6Class)
importFrom(quantmod,getSymbols)
importFrom(quantmod,adjustOHLC)
importFrom(RSQLite,SQLite)
importFrom(DBI,dbConnect)
importFrom(DBI,dbDisconnect)
importFrom(DBI,dbGetQuery)
importFrom(DBI,dbSendQuery)
importFrom(DBI,dbCommit)
importFrom(DBI,dbBegin)
importFrom(Rcpp, evalCpp)
#importFrom(TTR,runMean)
#importFrom(zoo,na.trim)
#importFrom(zoo,index)

export(process.trade)
export(process.trades)
export(trades.from.indicator)
export(trade.indicator)
export(calculate.returns)
export(cap.trade.duration)
export(construct.indicator)
export(round.any)
export(locf)
export(leading.nas)
export(laguerre.filter)
export(laguerre.rsi)
export(indicator.from.trendline)

export(EXIT_ON_LAST)
export(STOP_LIMIT_ON_OPEN)
export(STOP_LIMIT_ON_HIGH)
export(STOP_LIMIT_ON_LOW)
export(STOP_LIMIT_ON_CLOSE)
export(STOP_TRAILING_ON_OPEN)
export(STOP_TRAILING_ON_HIGH)
export(STOP_TRAILING_ON_LOW)
export(STOP_TRAILING_ON_CLOSE)
export(PROFIT_TARGET_ON_OPEN)
export(PROFIT_TARGET_ON_HIGH)
export(PROFIT_TARGET_ON_LOW)
export(PROFIT_TARGET_ON_CLOSE)
export(MAX_DAYS_LIMIT)

export(YahooDb)

export(zig.zag)
export(returns.rsi)